<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.osaka.appppy.sample.osakacity">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Splash"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity
            android:launchMode="singleTask"
            android:name=".app.StartActivity"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardMainActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardAttractionsAndHistoricSitesActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardDisasterForHeliportActivity"
          android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardEnvironmentAndRcyclingActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardFireDisasterPreventionSpeakerActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardFireProtectionWaterTankActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardHousingShelterActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardMedicalCareAndWelfareActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardOtherActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardParkAndSportsActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardPublicOfficeActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardPublicToiletActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardSchoolAndNurseryActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardStationsAndBusStopActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardTsunamiEvacuationBuilingActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardCultureAndTouristActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardPoliceAndFireActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardHallAcitivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.CardParkingAndBycycleParkingActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>

        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearMainActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearAttractionsAndHistoricSitesActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearDisasterForHeliportActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearEnvironmentAndRcyclingActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearFireDisasterPreventionSpeakerActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearFireProtectionWaterTankActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearHousingShelterActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearMedicalCareAndWelfareActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearOtherActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearParkAndSportsActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearPublicOfficeActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearPublicToiletActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearSchoolAndNurseryActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearStationsAndBusStopActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearTsunamiEvacuationBuilingActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearCultureAndTouristActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearPoliceAndFireActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearHallAcitivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".app.contents.LinearParkingAndBycycleParkingActivity"
            android:theme="@style/AppTheme"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:theme="@style/AppTheme.Detail"
            android:launchMode="singleTask"
            android:name=".app.DetailActivity"
            tools:ignore="Instantiatable">
        </activity>
        <activity
            android:name=".app.SettingsActivity"
            android:label="@string/settings"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Settings">
        </activity>
        <activity android:name=".app.MainActivity"
            tools:ignore="Instantiatable" />
    </application>
</manifest>